extends layout

block content
  div(ng-controller="Voting.Index")
      h1 Polls
      ul
        li(ng-repeat="poll in polls")
            <a href="poll/{{poll.id}}">{{poll.name}}</a>
      p env is #{env}
