doctype 5
html(ng-app="VotingApp")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    h1 Phone Poll (Text 403.800.3379)
    block content

  if(env == 'development')
    include devScripts.jade

  else
    include prodScripts.jade
